body {
    margin: 0px;
	padding:0px;
    width: 100%;
}
/*Tools Start*/
#main_tools {
    height: 4%;
    min-height:25px;
    width: 100%;
    background-color: #3c8dbc;
    position: fixed;
	z-index:100;
}
#main_tools .tools-box
{
  height: 100%;
}
#main_tools .tools-box .current-user  {
    height: 100%;
	width: 150px;
	text-align:center;
    line-height:25px;
    color: white;
}

#main_tools> .current-user-content
{
  width:15%;
  height:18%;
  min-width: 150px;
  min-height:200px;
  background-color:#5AB6DF;
  position: absolute;
  right:0;
  border-radius: 2px;
  margin-top: 2px;
  
}

/*Tools End*/


/*Menu Start*/
#main_menu {  
    height: 96%;
    width: 12%;
    position: fixed;
    z-index:100;
	bottom:0;
    background-color:#425063;
}

#main_menu .menu-head {
    height: 0%;
    width: 100%;
}

.menu-tree ul {
    margin: 0px;
    padding-left: 0px;
    width: 100%;
    padding-top: 10%;
    z-index: 10;
    list-style-type: none;
}

.menu-tree ul li {
    width: 100%;
    position: relative;
    padding-left:20px;
    line-height:35px;
    color:white;
    cursor:pointer;
}

.menu-tree ul li:hover
{
    background-color:#353f4f;  
    color:#65CEA7;
}
.menu-tree ul li span {
    cursor: pointer;
}

.menu-tree li:hover > ul {
    display: block;
}

.menu-tree li ul {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 100%;
    display: none;
    list-style-type: none;
    border-radius:3px;
    background-color:#425063;
    margin-left:2px;
    padding:1px 1px 1px 1px;
}

.menu-tree li.expand > span {
    padding-right: 10px;
    background: transparent url(data:image/png;base64,R0lGODlhAwAQAIABAAAAAP///yH5BAEAAAEALAAAAAADABAAAAIKjI8JBtv/wko0FQA7) no-repeat right center;
}

.menu-tree > ul > li.expand > span {
    padding-right: 10px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAADCAYAAACwAX77AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAaSURBVBhXY2BgYPiPAwOFMSXBgjAA0wnmAwASVQv19UVKmwAAAABJRU5ErkJggg==);
}

/*Menu End*/


/*Content Start*/
#main_panel {
    height: 96%;
    width: 88%;
    top: 4%;
    position: fixed;
    left: 12%;
    z-index: 0;
}

#main_panel> .panel-box {
    max-width:88%;
    min-width:50%;
    width:100%;
    height:96%;
    position:fixed; 
    /*border:2px solid #3498db;*/
    border-radius: 3px;
    overflow:hidden;
    background-color: #65CEA7;
    padding:0px 4px 4px 4px;

}

#main_panel > .panel-box .panel-tools {
    height:4%;
    min-height:25px;
    position: static;
}

#main_panel> .panel-box > .panel-title {
    height:4%;
    width:100%;
	position:relative
}

#main_panel > .panel-box > .panel-tools> .option-box 
{
	text-align:center;
	width:60px;
	display:block;
    height:auto;
    min-height:25px;
    position:absolute;
    right:0px;
}


#main_panel > .panel-box > .panel-tools> .option-box > .panel-tool-box{

    width:100%;
    height:auto;
    padding:4% 1px 5px 1px;
    border-radius: 3px;
    display:none;
    background-color: #425063;
}

#main_panel > .panel-box > .panel-tools> .option-box   >ul > li {
    list-style-type:none;
    line-height:22px;
    color:white;
    font-size:11px;
    cursor:pointer;
}

#main_panel > .panel-box > .panel-tools > .option-box > ul > li:hover {
    background-color:#353f4f;  
    color:#65CEA7;
}

#main_panel > .panel-box > .panel-tools > .option-box  > ul > li :hover{
    background-color: #1abc9c;
}







#main_panel > .panel-box > .panel-content {
    height:96%;
    width:100%;
    overflow:auto;
    left:4px;
    bottom:4px;
    right:4px;
}
/*Content Start*/


/*Task tools Start*/
#main_task_tools{
  	min-height:50px;
    width: 88%;
    bottom: 0px;
    position: fixed;
    left: 12%;
    z-index: 0;
	padding-top:8px;
	background-color:#3498db;
   
}

#main_task_tools> .task-item{
 width: 11.9375%;
 min-height:30px;
 background-color:#1abc9c;
 line-height:30px;
 margin:2px 0 3px 0.5%;
}
/*Task tools End*/